
#boutonmycommunities{
    //margin-right: 50px;
    margin-left: 500px;
    margin-top: 10px;
}
#boutoncreate{
    margin-left: 260px;
    margin-top: 20px;
}
  
  .list{
    display: flex;
    width: 100%;
    height: calc(100% - 50px);
    flex-wrap: nowrap;
    justify-content :space-evenly ;
    overflow-y: auto;
    font-size: 50px;
    //margin-top: 50px;
    margin-left: 300px;
  }

  
  .list::-webkit-scrollbar {
    width: 14px;
    background-color: #ffffff;
    border-radius: 7px;
  }
  
  .list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #369c32;
    border-radius: 7px;
  }
  
  .list::-webkit-scrollbar-thumb {
    background-color: #32609c;
    border-radius: 7px;
    border: solid 6px transparent;
  }
  
  .list::-webkit-scrollbar-thumb:hover {
    background-color: #000102;
  }
  
  h4 {
    
    height: 100px;
    text-align: center;
    margin-top: 20px;
    color: #911a1a;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
  }