<div class="content">
  <div class="offset-1">
    <div class="card offset-2" style="width: 30rem;">
      <div class="card-body">
        <div class="card-category row">
          <img [src]="currentUser.imageProfile" id="nom" class="rounded-circle col-2" height="45" alt="Cinque Terre">
          <div class="col-10 mt-1">
            <h5>{{currentUser.firstName}}&nbsp;{{currentUser.lastName}}</h5>
          </div>
        </div>
        <div class="md-form">
          <div [hidden]="submitted" style="width: 400px;">
            <form>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Name" id="nom" required [(ngModel)]="community.nom" name="nom">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" placeholder="Domaine" id="nom" required [(ngModel)]="community.domaine" name="domaine">
            </div>

            <div class="form-group">
              <input type="text" class="form-control" placeholder="Object" id="description" required [(ngModel)]="community.description"
                  name="description">
          </div>
          <div class="form-group">
            <label for="name">Type</label><hr>
            <input type="radio" name="type"  (click)="changeValue('Publique')" />Publique
            <input type="radio" name="type"  (click)="changeValue('Privée')" />Privée
          </div>





              <div class="mt-2">
                <i class="tim-icons icon-image-02 mr-3" (click)="open(content)"></i>
                <ng-template #content let-modal>
                  <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">Start Uploading</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="content">
                      <form enctype="multipart/form-data" class="row">
                        <div class="file-field md-form col-5">
                          <div mdbBtn rounded="true" gradient="aqua" size="md" mdbWavesEffect>
                            <input type="file" (change)="onFileSelected($event)" multiple="multiple" #fileUpload>
                          </div>
                        </div>
                        <button class="col-2 button-upload ml-auto" type="button" (click)="onUpload()">Upload</button>
                      </form>
                    </div>
                  </div>
                  <div class="modal-footer justify-content-center align-center">
                    <button type="button" class="button-upload" (click)="modal.close('Save click')">Save</button>
                  </div>
                </ng-template>
              </div>

              <button type="button" class="btn btn-sm btn-add" (click)="save()">Add</button>
            </form>
          </div>
        </div>
        <div [hidden]="!submitted">
          <h4>You submitted successfully!</h4>
        </div>
      </div>
    </div>
    <!--end add sponsoring test-->



    <div class="col-10"></div>
<div class="community mt-3">
    <div class="row" style="width: 700px; height: 400px;">
        <div class= "col-5 offset-1" *ngFor="let community of communityList">

          <mdb-card cascade="true" narrower="true">

            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
              <mdb-card-img src="data:image/png;base64,{{community.image}}"></mdb-card-img>
              <a>
                  <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <mdb-card-body cascade="true" class="text-center">



              <h4 class="card-title" (click)="communitydetails(community.id)">{{community.nom}}<span class="dots"><i class="fa fa-check"></i></span></h4>


              <mdb-card-text>
                Domaine : {{community.domaine}}
              </mdb-card-text>

              <div class="mt-3">
                <button (click)="communityupdate(community.id)" class="btn btn-outline-secondary"> <i class="fas fa-sync-alt"></i>Update</button>
                <button class="btn btn-danger" (click)="deleteCommunity(community.id)"><i class="fas fa-minus-circle"></i> Delete</button>
            </div>

          </mdb-card-body>


      </mdb-card>

    </div>

</div>








</div>
