<div class="content">
  <form enctype="multipart/form-data">
    <div class="file-field md-form">
      <div mdbBtn rounded="true" gradient="aqua" size="md" mdbWavesEffect>
        <input type="file" (change)="onFileSelected($event)" multiple="multiple" #fileUpload>
      </div>
    </div>
    <button mdbBtn type="button" rounded="true" gradient="aqua" (click)="onUpload()" mdbWavesEffect>Start
      uploading</button>
  </form>
</div>
<form enctype="multipart/form-data">
  <fieldset>
    <div class="form-group">
      <div>
        <input type="file" name="files" multiple class="form-control" />
      </div>
    </div>
  </fieldset>
</form>
