<div class="content">

  <div class="card">
    <h3>No one has ever become poor by giving</h3>
      <a href="http://commerce.coinbase.com/charges/ZHAY3AV5?fbclid=IwAR3pmm0OhoNhJzOHej1RMtsQRWNumChhm1rPN3cX6VSVy7biz3VHpIz0Yk0">
        <img src="../../../assets/img/donate_icon_s.png" width="100px" height="100px">
      </a>
    <div class="card-body">
      <p class="card-title">people forget that it doesn't take a big donation to help someone, just a lot of little donations.</p>
    </div>
  </div>

</div>
