<nav class=" navbar navbar-expand-lg navbar-absolute navbar-transparent">
  <div class=" container-fluid">
    <div class=" navbar-wrapper">
      <div class=" navbar-toggle d-inline">
        <button class=" navbar-toggler" type="button" (click)="sidebarToggle()">
          <span class=" navbar-toggler-bar bar1"> </span>
          <span class=" navbar-toggler-bar bar2"> </span>
          <span class=" navbar-toggler-bar bar3"> </span>
        </button>
      </div>

    </div>
    <button
      aria-label="Toggle navigation"
      class=" navbar-toggler"
      (click)="collapse()"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseExample"
      id="navigation"
      type="button">
      <span class=" navbar-toggler-bar navbar-kebab"> </span>
      <span class=" navbar-toggler-bar navbar-kebab"> </span>
      <span class=" navbar-toggler-bar navbar-kebab"> </span>
    </button>


      <a class="navbar-brand mt-3" href="#"><img src="../../../assets/img/logo.png" width="140px" height="130px"></a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav navbarList">
          <li class="nav-item active">
            <form class="form-inline md-form form-sm mt-0">
              <input class=" input-search form-control mr-3" type="text" placeholder="Search" aria-label="Search">
              <i class=" tim-icons icon-zoom-split" (click)= "navigateToAll()"></i>
            </form>
          </li>

        </ul>
      </div>



    <div class=" navbar-collapse" [ngbCollapse]="isCollapsed" id="navigation">
      <ul class=" navbar-nav ml-auto">

          <li class=" nav-item item" ngbDropdown>
            <a
              class=" nav-link"
              data-toggle="dropdown"
              href="javascript:void(0)"
              (click)="opencommunities()"
              ngbDropdownToggle>

              <i class=" fa fa-users"> </i>
              <p class=" d-lg-none">Communities</p>
            </a>
            </li>



              <li class=" nav-item item" ngbDropdown>
                <a
                  class=" nav-link"
                  data-toggle="dropdown"
                  href="javascript:void(0)"
                  ngbDropdownToggle>

                  <i class=" tim-icons icon-chat-33"> </i>
                  <p class=" d-lg-none">Chat</p>
                </a>
                <ul class=" dropdown-menu-right dropdown-navbar" ngbDropdownMenu>
                  <li class=" nav-link" style="width: 400px;" *ngFor="let msg of lastFiveMsg" routerLink="/messagerie">
                    <a class=" nav-item" href="javascript:void(0)" ngbDropdownItem>
                                  <div class="row">
                                          <div class="img-square-wrapper col-3">
                                            <img [src]="msg.senderUser.imageProfile" id="nom" class="rounded-circle chat-img" height="50px" width="50px" alt="Cinque Terre">
                                          </div>
                                          <div class="col-8">
                                              <h5 class="card-title">{{msg.senderUser.firstName}}&nbsp;{{msg.senderUser.lastName}}</h5>
                                              <p class="card-text">{{msg.content}}</p>
                                              <small class="text-muted">{{msg.timestamp}}</small>
                                          </div>
                                      </div>
                                    </a>
                                  </li>
                </ul>
              </li>


        <li class=" nav-item item" ngbDropdown>
          <a
            class=" nav-link"
            data-toggle="dropdown"
            href="javascript:void(0)"
            ngbDropdownToggle>

            <i class=" tim-icons icon-send"> </i>
            <p class=" d-lg-none">Invitations</p>
          </a>
          <ul class=" dropdown-menu-right dropdown-navbar" ngbDropdownMenu>
            <li class=" nav-link" style="width: 400px;" *ngFor="let invitation of FiveLastInvitations">
              <a class=" nav-item" href="javascript:void(0)" ngbDropdownItem>
                            <div class="row">
                                    <div class="img-square-wrapper col-3">
                                      <img [src]="invitation.sender.imageProfile" id="nom" class="rounded-circle chat-img" height="50px" width="50px" alt="Cinque Terre">
                                    </div>
                                    <div class="col-8">
                                        <h5 class="card-title">{{invitation.sender.firstName}}&nbsp;{{invitation.sender.lastName}}</h5>
                                        <div class="row justify-content-around">
                                          <button type="button" class="btn btn-sm col-5" (click)="AcceptInvitation(invitation.id)">Accepter</button>
                                          <button type="button" class="btn btn-sm col-5" (click)="deleteInvitation(invitation.id)">Refuser</button>
                                        </div>
                                        <small class="text-muted">{{invitation.since}}</small>
                                    </div>
                                </div>
                              </a>
                            </li>
          </ul>
        </li>


        <li class=" nav-item item" ngbDropdown>
          <a class=" nav-link" data-toggle="dropdown" href="javascript:void(0)" ngbDropdownToggle>
            <span class="badge badge-danger">{{numberMynotif}}</span>

            <i class="fa fa-bell"> </i>
            <p class=" d-lg-none">Notifications</p>
          </a>
          <ul class=" dropdown-menu-right dropdown-navbar" ngbDropdownMenu>
            <li class=" nav-link" style="width: 400px;" *ngFor="let notif of myNotifs">
              <a class=" nav-item" href="javascript:void(0)" ngbDropdownItem>
                <div class="row">

                  <div class="col-8">
                    <h5 class="card-title"> {{notif.content}}
                      <button type="button" class="btn-close" (click)="deleteNotif(notif.id)"
                        aria-label="Close"></button>
                    </h5>

                  </div>
                </div>
              </a>
            </li>
          </ul>


        <li class=" nav-item item" ngbDropdown>
          <a
            class=" nav-link"
            data-toggle="dropdown"
            href="javascript:void(0)"
            ngbDropdownToggle
          >
            <div class=" photo">
              <img alt="Profile Photo" [src]="currentUser.imageProfile" />
            </div>
            <b class=" caret d-none d-lg-block d-xl-block"> </b>
          </a>
          <ul class=" dropdown-navbar" ngbDropdownMenu>
            <li class=" nav-link">
              <a class=" nav-item" routerLink="/user" ngbDropdownItem>
                Edit Profile
              </a>
            </li>
            <li class=" nav-link">
              <a class=" nav-item" href="javascript:void(0)" ngbDropdownItem>
                Settings
              </a>
            </li>
            <li class=" dropdown-divider"></li>
            <li class=" nav-link">
              <a class=" nav-item" (click)="logout()" ngbDropdownItem style="color: darkgrey;">
                Log out
              </a>
            </li>
          </ul>
        </li>
        <li class=" separator d-lg-none"></li>
      </ul>
    </div>
  </div>
</nav>

<!--<ng-template #content let-modal>
  <div class=" modal-header">
    <input
      class=" form-control"
      id="inlineFormInputGroup"
      placeholder="SEARCH"
      type="text"
    />

    <button
      aria-label="Close"
      class=" close"
      data-dismiss="modal"
      type="button"
      (click)="modal.dismiss('Cross click')"
    >
      <i class=" tim-icons icon-simple-remove"> </i>
    </button>
  </div>

</ng-template>-->
