<div class="content">
  <!---->
  <div class="row" *ngFor="let invitation of invitations">
    <div class="col-xs-12 col-sm-offset-3 col-sm-6">
          <div class=" card card-chart" style="height: 150px;">
            <div class="card-body text-secondary" >
              <div class=" card-category row">
                <img [src]="invitation.sender.imageProfile" id="nom" class="rounded-circle col-2" height="50" alt="Cinque Terre">
                <div class="col-10">
                  <h4>{{invitation.sender.firstName}}&nbsp; {{invitation.sender.lastName}}</h4>
                  <h6 style="margin-top: -15px;">{{invitation.sender.profession}}</h6>
                </div>
              </div>
            </div>
            <div class=" card-body" style="margin-top: -30px !important;">
              <div class="row justify-content-around mt-4">
                <button class="btn col-4" (click)="AcceptInvitation(idCurrentUser, invitation.id)">Approuve</button>
                <button class="btn col-4" (click)="deleteInvitation(invitation.id)">Delete</button>
              </div>
            </div>
          </div>
    </div>
  </div>
  <!---->

  <div class="row justify-content-center text-center">
    <div class="search-user" style="margin-bottom: 20px;">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
        placeholder="&#61442;  Start searching for a user by firstName or lastName">

    </div>
    <!--Grid column-->
    <div class="col-md-4 mb-md-0 mb-5" *ngFor="let user of users | filter:searchText" style="margin-bottom: 20px;">
      <div class="testimonial">
        <!--Avatar-->
        <div class="avatar mx-auto" [routerLink]="['/profile', user.id]">
          <img [src]="user.imageProfile" class="rounded-circle" height="150px" width="150px" >
        </div>
        <!--Content-->
        <h4 class="font-weight-bold dark-grey-text mt-4">{{user.firstName}}&nbsp; {{user.lastName}}</h4>
        <h6 class="font-weight-bold blue-text my-3">{{ user.profession }}</h6>

        <div *ngIf="user.myFriend; else second">
          <p class="dark-grey-text mt-4">
            <i class="fas fa-user-check"></i>You'r friends
          </p>
        </div>
        <ng-template #second>
          <div *ngIf="user.invited; else third">
            <div class="container-fluid">
              <p>
                <button target="_blank" class="themeBtn" [disabled]="true"><i class="fas fa-hourglass-half"></i>Invitation sent</button>
              </p>
            </div>
          </div>
        </ng-template>
        <ng-template #third>
          <div *ngIf="user.waiting; else furth">
            <div class="container-fluid">
              <button target="_blank" class="themeBtn" (click)="AcceptInvitationUser(user.id)"><i class="fas fa-check"></i>Accept</button>
              <button target="_blank" class="themeBtn" (click)="RefuseInvitationUser(user.id)"><i class="fas fa-check"></i>Refuse</button>
            </div>
          </div>
        </ng-template>
        <ng-template #furth>
          <div class="container-fluid">
            <button target="_blank" class="themeBtn"><i class="fas fa-user-plus" (click)="EnvoiInvitationUser(user.id)"></i>Add</button>
          </div>
        </ng-template>
      </div>
      <!--Review-->
      <div class="orange-text">
      </div>
    </div>
  </div>
</div>



