$blue: #01d6d29e;
$white: #fff;
  .h4{
    color: $white;
  }

  .box{
    padding: 20px;
    box-shadow: inset 0 0 0 1200px #344675eb;
    filter: blur(0.3px);
    background: inherit; 
    position: absolute;
    border-radius: 2em;
    margin-top: 30px;
    color: $white;
  }
  
.wrapper{
  background-image: url(../../assets/medical-law.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-weight: 400;
 -webkit-font-smoothing: antialiased;
}
