<div class="wrapper">
  <div class="background">
      <div class="box text-center">
        <img class="mb-4" src="../../assets/img/user-icon.png" width="70px" height="70px">
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <div class="form-group">
            <input type="text" placeholder="Username" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel"
              required />
            <div *ngIf="f.submitted && username.invalid">
              <div *ngIf="username.errors.required">Username is required</div>
            </div>
          </div>
          <div class="form-group">
            <input type="password" placeholder="Password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel"
              required minlength="6" />
            <div *ngIf="f.submitted && password.invalid">
              <div *ngIf="password.errors.required">Password is required</div>
              <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-lg btn-block">Login</button>
            <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
              Login failed: {{errorMessage}}
            </div>
          </div>
        </form>
        <p>Don't have an account?</p>
        <a routerLink="/signup" class="signup-button mt-4">Sign Up</a>

        <p style="margin-top: 50px;">Don't know much about <span style="color: #47d3dd;">Healero</span> ?</p>
        <a routerLink="/about-us" class="mt-4 about-us"><u>About Healero</u></a>
      </div>
    </div>
</div>
