<div class="content">
  <div class="row justify-content-center custyle" style="margin-top: 50px;">
    <div class="col-9">
      <table class="table table-striped custab" style="color: white !important;">
        <thead>
            <tr>
              <td>Logo</td>
                <th>Name</th>
                <th>Object</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
                <tr *ngFor="let challenge of challenges">
                  <td><img [src]="challenge.image" height=100 width=100 /></td>
                    <td>{{challenge.nom}}</td>
                    <td>{{challenge.objectif}}</td>
                    <td class="text-center"><a class='btn btn-info btn-xs' [routerLink]="['/challengePublications']" [queryParams]="{idC: challenge.id}"><span class="glyphicon glyphicon-edit"></span> check publication</a> <a (click)="deleteChallenge(challenge.id)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
                </tr>
        </table>
    </div>

    </div>
</div>
