<div class="content">
  <div class="row justify-content-center custyle" style="margin-top: 50px;">
    <div class="col-9">
      <table class="table table-striped custab" style="color: white !important;">
        <thead>
            <tr>
              <td>Logo</td>
                <th>Name</th>
                <th>Object</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
                <tr *ngFor="let challenge of challenges">
                  <td><img [src]="challenge.image" height=100 width=100 /></td>
                    <td>{{challenge.nom}}</td>
                    <td>{{challenge.objectif}}</td>
                    <td class="text-center">
                      <button type="button" class="btn btn-sm btn-add" [routerLink]="['/challengePublications']" [queryParams]="{idC: challenge.id}" style="margin: 4px;"><i class="fas fa-list"></i>Check publication</button>
                      <button type="button" class="btn btn-sm btn-add" (click)="deleteChallenge(challenge.id)" style="margin: 4px;"><i class="fas fa-trash"></i>Delet</button>
                </tr>
        </table>
    </div>

    </div>
</div>
