.button-challenge{
  width: 160px;
  height: 40px;
  font-size: 11px;
  font-weight: none;
  padding: 3px 8px;
  color: white !important;
}

.row-challenge{
  margin-top: 80px;
}

input{
  border: none;
  border-bottom: solid 1px rgba(169, 169, 169, 0.151);
}

.form-group{
  margin-top: 7px;
}

.btn-add{
  width: 100px;
  font-size: 11px;
  font-weight: none;
  background: linear-gradient(#0098f0, #20c997);
  float: right;
}


.button-upload{
  width: 60px;
  height: 30px;
  font-size: 11px;
  margin: 10px 25px;
  border-color: rgba(0, 0, 0, 0.041);
}

/**/
h6{
  color: darkgrey;
}

.content{
  margin-top: 50px;
}

.card{
  padding: 10px 20px 0 20px;
}

.comment{
  font-size: 11px;
  padding: 5px 30px;
}