<div class="choix">

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" (click)="followed()"> Followed</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" (click)="unfollowed()"> Unfollowed</a>

        </li>

    </ul>
</div>

<div *ngIf="follow==true; else elseBlock">
    <div *ngFor="let community of communityListFollowed">
      <!--Card-->
      <mdb-card cascade="true" narrower="true">
        <!--Card image-->
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="data:image/png;base64,{{community.image}}"></mdb-card-img>
          <a>
              <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <mdb-card-body cascade="true" class="text-center">
          <!--Card content-->

          <!--Title-->
          <h4 class="card-title"><a (click)="communityDetail(community.id)">{{community.nom}}<span class="dots"><i class="fa fa-check"></i></span></a></h4>
          <!--Text-->

          <mdb-card-text>
            Domaine : {{community.domaine}}
          </mdb-card-text>

          <div class="mt-3">
            <button class="btn btn-danger" (click)="ToUnfollow(community.id)">Unfollow</button>
            <button class="btn btn-outline-secondary" (click)="communitydetails(community.id)">Open</button>
          </div>

      </mdb-card-body>
      <!--/.Card content-->

      </mdb-card>
    </div>
  <!--/.Card-->
</div>
<ng-template #elseBlock>
        <div *ngFor="let community of communityListUnFollowed">
           <!--Card-->
      <mdb-card cascade="true" narrower="true">
        <!--Card image-->
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="data:image/png;base64,{{community.image}}"></mdb-card-img>
          <a>
              <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <mdb-card-body cascade="true" class="text-center">
          <!--Card content-->

          <!--Title-->
          <h4 class="card-title">{{community.nom}}<span class="dots"><i class="fa fa-check"></i></span></h4>
          <!--Text-->

          <mdb-card-text>
            Domaine : {{community.domaine}}
          </mdb-card-text>

          <div class="mt-3">
            <button class="btn btn-danger" (click)="Tofollow(community.id)">Follow</button>
            <button class="btn btn-outline-secondary" (click)="checktype(community.id)">Open</button>
        </div>

      </mdb-card-body>
      <!--/.Card content-->

  </mdb-card>
  <!--/.Card-->
  </div>
</ng-template>
