<div class="content">
  <div class="addpub offset-3">
    <div class="card" style="width: 34.5rem;">
      <div class="card-body">
          <div class=" card-category row">
            <img [src]="currentUser.imageProfile" id="nom" class="rounded-circle col-2" height="45" alt="Cinque Terre">
            <div class="col-10 mt-1">
              <h5>{{currentUser.firstName}}&nbsp; {{currentUser.lastName}}</h5>
            </div>
          </div>
          <div class="md-form">
            <textarea id="form7" placeholder="Share some what you are thinking" [(ngModel)]="Newpublication.content" class="md-textarea form-control" rows="4"></textarea>
            <div class="mt-2">
              <i class="tim-icons icon-attach-87 mr-3" (click)="open(content)"></i>
              <i class="tim-icons icon-image-02 mr-3" (click)="open(content)"></i>
              <i class="tim-icons icon-video-66" (click)="open(content)"></i>
              <ng-template #content let-modal>
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">Start Uploading</h4>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="content">
                    <form enctype="multipart/form-data" class="row">
                      <div class="file-field md-form col-5">
                        <div mdbBtn rounded="true" gradient="aqua" size="md" mdbWavesEffect>
                          <input type="file" (change)="onFileSelected($event)" multiple="multiple" #fileUpload>
                        </div>
                      </div>
                      <button class="col-2 button-upload ml-auto" type="button" (click)="onUpload()">Upload</button>
                    </form>
                  </div>
                </div>
                <div class="modal-footer justify-content-center align-center">
                  <button type="button" class="button-upload" (click)="modal.close('Save click')">Save</button>
                </div>
              </ng-template>
            </div>
          </div>
          <button type="button" class="btn btn-sm btn-add" (click)="onPublication()">Add</button>

      </div>
    </div>


    <!--testttt-->

      <div class=" card card-chart" *ngFor="let publication of publications" style="width: 34.5rem;">

        <div class="card-body text-secondary">
          <button type="button" class="close" aria-label="Close" (click)="onDeletePub(publication.id)">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class=" card-category row">
            <img [src]="publication.user.imageProfile" id="nom" class="rounded-circle col-2" height="45" alt="Cinque Terre">
            <div class="col-10">
              <h5>{{publication.user.firstName}}&nbsp;{{publication.user.lastName}}&nbsp;&nbsp;</h5>
              <h6 style="margin-top: -15px;">{{publication.user.profession}}</h6>
            </div>
          </div>
          <h5 class="card-title mt-3">
            {{publication.content}}
          </h5>
          <h6>{{publication.dateCreation}}</h6>
        </div>
        <div class=" card-body">
          <div class="row">

          <div class="col" *ngFor="let pieceJoint of publication.pieceJoints">
              <div *ngIf="pieceJoint.contentType=='image/jpeg'; else pdfBlock">
                <img class="card-img-top" [src]="pieceJoint.image" alt="Card image cap">
              </div>
              <ng-template #pdfBlock>
                <div *ngIf="pieceJoint.contentType=='application/pdf';else videoBloc">
                  <embed [src]="pieceJoint.image" width=800 height=500 type='application/pdf' />
                </div>
              </ng-template>
              <ng-template #videoBloc>
                <video width="100%" style="height: 300px!important" controls>
                  <source [src]="pieceJoint.image" type="video/mp4">
                </video>
              </ng-template>
            </div>

          </div>

          <div *ngIf="click==true; else elseBlock">
            <div class=" card-header">
              <h3 class=" card-title">
                <i class=" tim-icons icon-heart-2 text-warn-states" (click)="onLike(currentUser.id, publication.id)"></i>
                <small id="like" class="mr-4">{{ publication.NbrLike }}</small>
                <i class=" tim-icons icon-chat-33 text-warn-states" (click)="commenting()"></i>
                <small id="like">{{publication.comments.length}}</small>
              </h3>
            </div>

          </div>

          <ng-template #elseBlock>
            <div class=" card-header">
              <h3 class=" card-title">
                <i class=" tim-icons icon-heart-2 text-danger-states" (click)="onDislike(currentUser.id, publication.id)"></i>
                <small id="like">{{ publication.NbrLike }}</small>
                <i class=" tim-icons icon-chat-33 text-warn-states"></i>
                <small id="like">{{publication.comments.length}}</small>
              </h3>
            </div>
          </ng-template>


          <div *ngIf="com==true; else elseBlock2"></div>


          <ng-template #elseBlock2>

            <a class="flex-column align-items-start"
              *ngFor="let comment of publication.comments">

              <div class="d-flex w-100 justify-content-between">
                <div class="row">
                  <img [src]="comment.user.imageProfile" id="nom" class="rounded-circle col-4" height="40" alt="Cinque Terre">
                  <div class="col-8">
                    <h5>{{comment.user.firstName}}&nbsp;{{comment.user.lastName}}</h5>
                    <h6 style="margin-top: -15px;">{{comment.user.profession}}</h6>
                  </div>
                </div>

                <small class="text-muted">{{ comment.date }}</small>

              </div>

              <button type="button" class="close" aria-label="Close" (click)="onDeleteCommment(comment.id)">
                <span aria-hidden="true">&times;</span>
              </button>
              <p class="mb-1">{{ comment.content}}</p>
              <hr>
            </a>
            <div class="d-flex w-100 justify-content-between">
              <div class="form-group col-md-12">
                <input type="text" class="form-control" placeholder="add your comment " id="content"
                  [(ngModel)]="comment.content">
                <div class="send">
                  <button type="button" class="btn btn-secondary btn-sm"
                    (click)="onComment(currentUser.id, publication.id)">Add</button>

                </div>
              </div>
            </div>
          </ng-template>

        </div>

      </div>

    <!--end test-->

  </div>

</div>
