.content{
  margin-top: 70px;
}

.box{
  padding: 20px;
  height: 300px;
  border-radius: 25px;
  justify-content: center;
  text-align: center;
  margin: 20px;
  cursor: pointer;
}

.box:hover{
border: solid 1px #47d3dd;
}


h1{
  color: #47d3dd;
  text-align: center;
}
