body {
  padding: 60px 0px;
}
#icon {
  padding-left: 8px;
  padding-right: 8px;
}
.animate {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.info-card {
  width: 100%;
  border: 1px solid rgb(215, 215, 215);
  position: relative;
  font-family: 'Lato', sans-serif;
  margin-bottom: 20px;
  overflow: hidden;
}
.info-card > img {
  width: 100px;
  margin-bottom: 60px;
}
.info-card .info-card-details,
.info-card .info-card-details .info-card-header  {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -100%;
  left: 0;
  padding: 0 15px;
  background: rgb(255, 255, 255);
  text-align: center;
}
.info-card .info-card-details::-webkit-scrollbar {
  width: 8px;
}
.info-card .info-card-details::-webkit-scrollbar-button {
  width: 8px;
  height: 0px;
}
.info-card .info-card-details::-webkit-scrollbar-track {
  background: transparent;
}
.info-card .info-card-details::-webkit-scrollbar-thumb {
  background: rgb(160, 160, 160);
}
.info-card .info-card-details::-webkit-scrollbar-thumb:hover {
  background: rgb(130, 130, 130);
}

.info-card .info-card-details .info-card-header {
  height: auto;
  bottom: 100%;
  padding: 10px 5px;
}
.info-card:hover .info-card-details {
  bottom: 0px;
  overflow: auto;
  padding-bottom: 25px;
}
.info-card:hover .info-card-details .info-card-header {
  position: relative;
  bottom: 0px;
  padding-top: 45px;
  padding-bottom: 25px;
}
.info-card .info-card-details .info-card-header h1,
.info-card .info-card-details .info-card-header h3 {
  color: rgb(62, 62, 62);
  font-size: 22px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0 !important;
  padding: 0 !important;
}
.info-card .info-card-details .info-card-header h3 {
  color: #1FBFB8    ;
  font-size: 15px;
  font-weight: 400;
  margin-top: 5px;
}
.info-card .info-card-details .info-card-detail .social {
  list-style: none;
  padding: 0px;
  margin-top: 25px;
  text-align: center;
}
.info-card .info-card-details .info-card-detail .social a {
  position: relative;
  display: inline-block;
  min-width: 40px;
  padding: 10px 0px;
  margin: 0px 5px;
  overflow: hidden;
  text-align: center;
  background-color: rgb(215, 215, 215);
  border-radius: 40px;
}

a.social-icon {
  text-decoration: none !important;
  box-shadow: 0px 0px 1px rgb(51, 51, 51);
  box-shadow: 0px 0px 1px rgba(51, 51, 51, 0.7);
}
a.social-icon:hover {
  color: rgb(255, 255, 255) !important;
}
a.facebook {
  color: rgb(59, 90, 154) !important;
}
a.facebook:hover {
  background-color: rgb(59, 90, 154) !important;
}
a.twitter {
  color: rgb(45, 168, 225) !important;
}
a.twitter:hover {
  background-color: rgb(45, 168, 225) !important;
}
a.github {
  color: rgb(51, 51, 51) !important;
}
a.github:hover {
  background-color: rgb(51, 51, 51) !important;
}
a.google-plus {
  color: rgb(244, 94, 75) !important;
}
a.google-plus:hover {
  background-color: rgb(244, 94, 75) !important;
}
a.linkedin {
  color: rgb(1, 116, 179) !important;
}
a.linkedin:hover {
  background-color: rgb(1, 116, 179) !important;
}
/*about*/
#team {
  padding-top: 520px;
  padding-left: 150px;
}
#titre {
  color: #1FBFB8
  ;
}
body {
  margin:0;
  padding:0;
  font-family:sans-serif;
  background:#fbfbfb;
}

.card {
  position:absolute;
  top:45%;
  left:55%;
  transform:translate(-50%,-50%);
  width:800px;
  min-height:600px;
  background:#fff;
  box-shadow:0 20px 50px rgba(0,0,0,.1);
  border-radius:10px;
  transition:0.5s;
}
.card:hover {
  box-shadow:0 30px 70px rgba(0,0,0,.2);
}
.card .box {
  position:absolute;
  top:50%;
  left:0;
  transform:translateY(-50%);
  text-align:center;
  padding:20px;
  box-sizing:border-box;
  width:100%;
}
.card .box .img {
  width:250px;
  height:250px;
  margin:0 auto;
  border-radius:50%;
  overflow:hidden;
}
.card .box .img img {
  width:100%;
  height:100%;
}
.card .box h2 {
  font-size:20px;
  color:#262626;
  margin:20px auto;
}
.card .box h2 span {
  font-size:14px;
  background:#1FBFB8    ;
  color:#fff;
  display:inline-block;
  padding:4px 10px;
  border-radius:15px;
}
.card .box p {
  color:#262626;
}
.card .box span {
  display:inline-flex;
}
.card .box ul {
  margin:0;
  padding:0;
}
.card .box ul li {
  list-style:none;
  float:left;
}
.card .box ul li a {
  display:block;
  color:#aaa;
  margin:0 10px;
  font-size:20px;
  transition:0.5s;
  text-align:center;
}
.card .box ul li:hover a {
  color:#1FBFB8    ;
  transform:rotateY(360deg);
}
