<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="content">
<div class="card" id="about">
    <div class="box">
        <div class="img">
            <img src="../../../assets/img/logo.png">
        </div>
        <h2>HEALERO<br><span>Healthier lifestyle, Happier life</span></h2>
        <p><span id="titre">HEALERO</span> is a social network home to thousands of communities and individuals
            interested in health and wellness.
            If you like to paticipate in challenge or events , share you experience, meet new people and learn from them
            ,HEALERO is the right place for you !
        </p>

        <span>
            <ul>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
        </span>
    </div>
</div>

    <div class="container" id="team">
      <div class="row">
        <div class="[ col-sm-6 col-md-offset-2 col-md-4 ]">
            <div class="[ info-card ]">
                <img style="width: 100%" height="300px" src="../../../assets/img/raniaBenRomdhane.png" />
                <div class="[ info-card-details ] animate">
                    <div class="[ info-card-header ]">
                        <h1> Rania ben Romdhane </h1>
                        <h3> Web developer </h3>
                    </div>
                    <div class="[ info-card-detail ]">
                        <!-- Description -->
                        <p>The idea of creating something out of nothing has always generated a passion in my heart.
                            This is what lead me to website development. I can literally create little worlds that
                            hopefully thousands of people can see and even experience.</p>
                        <span>
                            <a href="https://www.facebook.com/rania.bromdhane"><i class="fa fa-facebook" aria-hidden="true" id="icon"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true" id="icon"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true" id="icon"></i></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="[ col-sm-6 col-md-offset-2 col-md-4 ]">
            <div class="[ info-card ]">
                <img style="width: 100%" src="/assets/img/souha.jpg" />
                <div class="[ info-card-details ] animate">
                    <div class="[ info-card-header ]">
                        <h1> Souha Harbi </h1>
                        <h3> Backend Developer </h3>
                    </div>
                    <div class="[ info-card-detail ]">
                        <!-- Description -->
                        <p>The idea of creating something out of nothing has always generated a passion in my heart.
                            This is what lead me to website development. I can literally create little worlds that
                            hopefully thousands of people can see and even experience.</p>
                        <span>
                            <a href="https://www.facebook.com/souha.harbi/"><i class="fa fa-facebook" aria-hidden="true" id="icon"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true" id="icon"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true" id="icon"></i></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="[ col-sm-6 col-md-offset-2 col-md-4 ]">
            <div class="[ info-card ]">
                <img style="width: 100%" height="300px" src="../../../assets/img/mohamedHammemi.jpg" />
                <div class="[ info-card-details ] animate">
                    <div class="[ info-card-header ]">
                        <h1> Mohamed Hammami</h1>
                        <h3> Data science Developer </h3>
                    </div>
                    <div class="[ info-card-detail ]">
                        <!-- Description -->
                        <p>The idea of creating something out of nothing has always generated a passion in my heart.
                            This is what lead me to website development. I can literally create little worlds that
                            hopefully thousands of people can see and even experience.</p>
                        <span>
                            <a href="https://www.facebook.com/mohamed.hammami.58118"><i class="fa fa-facebook" aria-hidden="true" id="icon"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true" id="icon"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true" id="icon"></i></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="[ col-sm-6 col-md-offset-2 col-md-4 ]">
            <div class="[ info-card ]">
                <img style="width: 100%" height="300px" src="../../../assets/img/cyrineMaaloul.jpg" />
                <div class="[ info-card-details ] animate">
                    <div class="[ info-card-header ]">
                        <h1> Cyrine Maaloul</h1>
                        <h3> Web Developer </h3>
                    </div>
                    <div class="[ info-card-detail ]">
                        <!-- Description -->
                        <p>The idea of creating something out of nothing has always generated a passion in my heart.
                            This is what lead me to website development. I can literally create little worlds that
                            hopefully thousands of people can see and even experience.</p>
                        <span>
                            <a href="https://www.facebook.com/sirine.maaloul.79"><i class="fa fa-facebook" aria-hidden="true" id="icon"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true" id="icon"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true" id="icon"></i></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="[ col-sm-6 col-md-offset-2 col-md-4 ]">
            <div class="[ info-card ]">
                <img style="width: 100%" height="300px" src="../../../assets/img/yasmineFerchichi.jpg" />
                <div class="[ info-card-details ] animate">
                    <div class="[ info-card-header ]">
                        <h1> Yasmine Ferchichi</h1>
                        <h3> Web Developer </h3>
                    </div>
                    <div class="[ info-card-detail ]">
                        <!-- Description -->
                        <p>The idea of creating something out of nothing has always generated a passion in my heart.
                            This is what lead me to website development. I can literally create little worlds that
                            hopefully thousands of people can see and even experience.</p>
                        <span>
                            <a href="https://www.facebook.com/profile.php?id=100009822338092"><i class="fa fa-facebook" aria-hidden="true" id="icon"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true" id="icon"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true" id="icon"></i></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="[ col-sm-6 col-md-offset-2 col-md-4 ]">
            <div class="[ info-card ]">
                <img style="width: 100%" height="300px" src="../../../assets/img/oussemaFattouch.jpg" />
                <div class="[ info-card-details ] animate">
                    <div class="[ info-card-header ]">
                        <h1> Oussema Fattouch</h1>
                        <h3> Frontend Developer </h3>
                    </div>
                    <div class="[ info-card-detail ]">
                        <!-- Description -->
                        <p>The idea of creating something out of nothing has always generated a passion in my heart.
                            This is what lead me to website development. I can literally create little worlds that
                            hopefully thousands of people can see and even experience.</p>
                        <span>
                            <a href="https://www.facebook.com/oussama.fattouch.921"><i class="fa fa-facebook" aria-hidden="true" id="icon"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true" id="icon"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true" id="icon"></i></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="[ col-sm-6 col-md-offset-2 col-md-4 ]">
            <div class="[ info-card ]">
                <img style="width: 100%" height="300px" src="../../../assets/img/syrineHammami.jpg" />
                <div class="[ info-card-details ] animate">
                    <div class="[ info-card-header ]">
                        <h1> Syrine Hammami</h1>
                        <h3> Data science Developer </h3>
                    </div>
                    <div class="[ info-card-detail ]">
                        <!-- Description -->
                        <p>The idea of creating something out of nothing has always generated a passion in my heart.
                            This is what lead me to website development. I can literally create little worlds that
                            hopefully thousands of people can see and even experience.</p>
                        <span>
                            <a href="https://www.facebook.com/sassouna.hammami"><i class="fa fa-facebook" aria-hidden="true" id="icon"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true" id="icon"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true" id="icon"></i></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="[ col-sm-6 col-md-offset-2 col-md-4 ]">
            <div class="[ info-card ]">
                <img style="width: 100%" height="300px" src="../../../assets/img/imenBelHadjSelem.jpg" />
                <div class="[ info-card-details ] animate">
                    <div class="[ info-card-header ]">
                        <h1> Imen ben Hadj selem</h1>
                        <h3> Frontend Developer </h3>
                    </div>
                    <div class="[ info-card-detail ]">
                        <!-- Description -->
                        <p>The idea of creating something out of nothing has always generated a passion in my heart.
                            This is what lead me to website development. I can literally create little worlds that
                            hopefully thousands of people can see and even experience.</p>
                        <span>
                            <a href="https://www.facebook.com/patchi.nou.18"><i class="fa fa-facebook" aria-hidden="true" id="icon"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true" id="icon"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true" id="icon"></i></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
