ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
  }
  
  form {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    ;
  }
  
  ul li {
    padding-left: 100px;
    margin: 10px ;
    padding: 6px;
  }
  
  header,
  label {
    color: #53ace4;
  }
  
  label {
    padding-right: 10px;
  }
  
  header {
    display: flex;
    justify-content: center;
  }
  
  .container {
    padding: 20px;
    background-color: #32435B;
  }
  
  .TypeRadioButton{
    display: inline-table;
  }
input .TypeRadioButton{
  float: left;
}

  input,
  select {
    background-color: #ffffff;
    color: #5b8bac;
    border-radius: 3px;
    border: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset, 0 -1px 0 rgba(0, 0, 0, 0.05) inset;
    border-color: #53ace4;
    padding: 6px;
    margin: 6px;
  }
  
  .ng-invalid:not(.ng-pristine):not(.required-invalid) {
    border: 1px solid #d93a3e;
  }
  
  input[required].ng-invalid {
    border-right: 5px solid #d93a3e;
  }
  
  input[required]:not(.required-invalid),
  input[required].ng-invalid:not(.required-invalid) {
    border-right: 5px solid #378bad;
  }
  
  .error {
    color: #d93a3e;
  }
  
  #year {
    width: 50px;
  }
  
  button[type=submit] {
    margin-top: 10px;
    background-color: #4592bf;
    border: 0;
    padding: 10px;
    font-size: 1em;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    margin-left :1200px;
  }
  
  button[type=submit]:disabled {
    margin-top: 10px;
    background-color: #333;
    color: #666;
    cursor: default;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    color: #32435B;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2em;
  }
  
  form{
    background-color: #32435B;
  }

  /////////////////
  body {
    background-color: #2fbaf1;
    font-family: source-sans-pro, sans-serif;
  }
  
  h1 {
    margin-left: auto;
    margin-top: 50px;
    text-align: center;
    font-weight: 100;
    font-size: 2.8em;
    color: #ffffff;
  }
  
  div {
    width: 500px;
    margin: auto;
  }
  
  .formStyle { 
    background-color: #c7caca;
    padding: 20px; 
    width: 400px; 
    margin-bottom: 20px; 
    border-bottom-width: 1px; 
    border-bottom-style: solid; 
    border-bottom-color: #ecf0f1; 
    border-top-style: none; 
    border-right-style: none; 
    border-left-style: none; 
    font-size: 1em;
    font-weight: 100;
    color: #053a47;
  }

  label{
    padding: 20px; 
    width: 400px; 
    margin-bottom: 20px; 
    border-bottom-width: 1px; 
    border-bottom-style: solid; 
    border-bottom-color: #ecf0f1; 
    border-top-style: none; 
    border-right-style: none; 
    border-left-style: none; 
    font-size: 1em;
    font-weight: 100;
    color: #ffffff;
  }

  
  .btn-success {
    float: right;
      background-color:#2dcbf3;
      display:inline-block;
      color:#053a47;
      font-size:28px;
      font-weight: 500;
      padding:6px 24px;
    margin-top: 15px;
    margin-right: 60px;
      text-decoration:none;
  }
  
  .formButton:hover {
      background-color: #686868;
    color:#ffffff;
  }
  
  .formButton:active {
      position:relative;
      top:3px;
  }
  
  /*To remove the outline that appears on clicking the input textbox*/
  input:focus {
    outline: none;
  }
  
  /* To format the placeholder text color */
  ::-webkit-input-placeholder {
     color: #ecf0f1;
  }
  
  :-moz-placeholder { /* Firefox 18- */
     color: #ecf0f1;  
  }
  
  ::-moz-placeholder {  /* Firefox 19+ */
     color: #ecf0f1;  
  }
  
  :-ms-input-placeholder {  
     color: #ecf0f1;  
  }