<h1>
  Update Community
</h1>

<div>
  <form (ngSubmit)="OnSubmit()">
      <ul>
    <li>  <label>Nom </label>
    <input type="text" name="nom" class="formStyle" placeholder="{{community.nom}}"  [(ngModel)] ="community.nom"  />
  </li><li>
    <label>Domaine</label>
    <input type="text" name="domaine" class="formStyle" placeholder="{{community.domaine}}"  [(ngModel)] ="community.domaine" />
  </li>
  <li>
    <label>Description</label>
    <input type="text" name="description" class="formStyle" placeholder="{{community.description}}"  [(ngModel)] ="community.description"  />
  </li><li>
    <label>Type</label></li>



  <li>
   <input type="radio" name="type"   [checked]="community.type == 'Publique'" (click)="changeValue('Publique')" />Publique
   <input type="radio" name="type"   [checked]="community.type == 'Privée'" (click)="changeValue('Privée')"  />Privée
  </li>
  </ul>

  <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
