<div class="content">
  <h1>Either way you're gonna be satisfied</h1>
  <div class="row justify-content-around">
      <div class="col-5" (click)="openHealthBot()">
          <div class="box">
              <img src="https://cdn2.iconfinder.com/data/icons/chatter-robot/192/15_Robot_bubble_chat_bot_message_support_virtual_assistant_health_doctor_hospital-512.png"
                  width="100px" height="100px">
              <h3 class="mt-3 mb-3">Healthobot</h3>
              <p>I am a first aid chatbot and i am happy to help.
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
              </p>
          </div>
      </div>

     <!-- <div class="col-5">
          <div class="box">
              <img src="https://cdn3.iconfinder.com/data/icons/healthcare-37/64/bot-512.png" width="100px"
                  height="100px">
              <h3 class="mt-3 mb-3">FirsAidbot</h3>
              <p>I am a first aid chatbot and i am happy to help.
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
              </p>
          </div>
      </div>

  </div>

  <div class="row justify-content-around">
      <div class="col-5">
          <div class="box">
              <img src="https://cdn2.iconfinder.com/data/icons/robot-29/100/cooking-robot-2-robot-food-service-ai-chef-cook-kitchen-stove-cooking-pot-big-soup-ladle-512.png"
                  width="100px" height="100px">
              <h3 class="mt-3 mb-3">DietBot</h3>
              <p>I am a first aid chatbot and i am happy to help.
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
              </p>
          </div>
      </div>-->

      <div class="col-5" (click)="openWorkoutBot()">
          <div class="box">
              <img src="https://cdn3.iconfinder.com/data/icons/healthcare-37/64/bot-512.png" width="100px"
                  height="100px">
              <h3 class="mt-3 mb-3">WorkoutBot</h3>
              <p>I am a first aid chatbot and i am happy to help.
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
              </p>
          </div>
      </div>
  </div>
  <!--
<app-health-bot></app-health-bot>
  -->

</div>
