<div class="wrapper">
  <div class="background">
    <div class="box">
      <img class="mb-4" src="../../assets/img/user-icon.png" width="70px" height="70px">
        <!--BEGIN-->
        <form class="text-center" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <div class="row justify-content-around">
          <div class="col">
            <div class="form-group mb-4">
              <input type="text" class="form-control" placeholder="First name" name="firstName"
                [(ngModel)]="form.firstName" #firstName="ngModel" required />
              <small>
                <div *ngIf="f.submitted && firstName.invalid">
                  <div *ngIf="firstName.errors.required">First Name is required</div>
                </div>
              </small>
            </div>
            <div class="form-group mb-4">
              <input type="text" class="form-control" placeholder="Last name" name="lastName"
                [(ngModel)]="form.lastName" #lastName="ngModel" />
              <small>
                <!--<div *ngIf="f.submitted && lastName.invalid">
                  <div *ngIf="lastName.errors.required">Last Name is required</div>
                </div>-->
              </small>
            </div>
          <div class="form-group mb-4">
            <input type="email" class="form-control mb-4" placeholder="E-mail" name="mail" [(ngModel)]="form.mail"
              #mail="ngModel" required />
            <small>
              <div *ngIf="f.submitted && mail.invalid">
                <div *ngIf="mail.errors.required">Mail is required</div>
              </div>
            </small>
          </div>
          <div class="form-group mb-4">
            <input type="text" class="form-control" placeholder="User Name" name="username" [(ngModel)]="form.username"
              #username="ngModel" required />
            <small>
              <div *ngIf="f.submitted && username.invalid">
                <div *ngIf="username.errors.required">Username is required</div>
              </div>
            </small>
          </div>
          <form class="md-form">
            <div class="file-field">
              <a class="btn-floating peach-gradient mt-0 float-left">
                <input type="file" class="form-control fileUpload"  name="fileUpload" data-buttonText="Find file" (change)="onFileSelected($event)">
              </a>
            </div>
          </form>
          </div>
          <div class="col">
          <div class="form-group mb-4">
            <input type="password" class="form-control" placeholder="Password"
              aria-describedby="defaultRegisterFormPasswordHelpBlock" name="password" [(ngModel)]="form.password"
              #password="ngModel" required minlength="6" />
            <small>
              <div *ngIf="f.submitted && password.invalid">
                <div *ngIf="password.errors.required">Password is required</div>
                <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
              </div>
            </small>
          </div>
          <div class="form-group mb-4">
            <input type="text" class="form-control" placeholder="Address" name="address" [(ngModel)]="form.address"
              #address="ngModel" />
          </div>

          <div class="form-group mb-4">
            <input type="date" class="form-control" placeholder="BirthDate" name="birthDate"
              [(ngModel)]="form.birthDate" #birthDate="ngModel" />
          </div>

          <div class="form-group mb-4">
            <input type="text" class="form-control" placeholder="Profession" name="profession"
              [(ngModel)]="form.profession" #profession="ngModel" />
          </div>

          <div class="form-group mb-4">
            <input type="text" class="form-control" placeholder="recommender" name="recommander"
              [(ngModel)]="form.recommander" #recommander="ngModel" />
          </div>

          <div class="form-check">
            <input type="checkbox" value="" [(ngModel)]="form.type" #type="ngModel"  id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Etes vous une Entreprise ?
            </label>
          </div>

          </div>
            <button class="btn btn-lg btn-block">Register</button>
          <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
            Signup failed!<br />{{errorMessage}}
          </div>
          </div>
        </form>
        <!--END-->
        <div class="login">
          <p>Already have an account?</p>
          <a routerLink="/auth/login" class="login-button mt-4">Login</a>
        </div>
    </div>
      </div>
</div>
