$blue: #01d6d29e;
$white: #fff;
.box {
    padding: 20px;
    background-color: $blue;
    border-radius: 2em;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba($white, 0.1), 0 15px 12px rgba($white, 0.1);
  }