$blue: #01d6d29e;
$white: #fff;
  .h4{
    color: $white;
  }
  .box{
    z-index: 1000;
    padding: 20px;
    filter: blur(0.3px);
    margin-top: 30px;
    width: 900px;
    position: absolute;
    left: 20%;
  }

  .background{
    width: 100%;
    height: 100%;
    background-color: #14141bd0;
    z-index: 1;
  }

.wrapper{
  background-image: url(../../assets/img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-weight: 400;
 -webkit-font-smoothing: antialiased;
}


.login-button{
  border: solid 1px darkcyan;
  border-radius: 25px;
  width: 250px !important;
  font-size: 12px;
  color: powderblue;
  height: 30px;
  padding: 7px 20px;
  margin-left: 40px;

}

.login{
  position: absolute;
  left: 40%;
  bottom: -30%;
}


.login-button:hover{

  background-color: transparent;
  color: darkcyan;
}


p{
  font-size: 12px;
}



.form-control{
  border-radius: none;
  border: none;
  border-bottom: solid 1px darkcyan;
  width: 300px;
}

.form{
  width: 800px;
}


.btn{
  font-size: 11px;
  font-weight: none;
  background: linear-gradient(#0098f0, #20c997);
  height: 35px;
  border-radius: 25px;
  margin-top: 30px;
  padding: 7px 20px;
  width: 300px;
  position: absolute;
  left: 30%;
  bottom: -10%;
}
  /************/

  input{
    border: solid 1px darkcyan;
    opacity: 1 !important;
    visibility: visible !important;
    position: relative;
  }


.fileUpload{
  color: transparent !important;
  width: 350px;
}
